[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Antonio Nuno Monteiro
	email = anmonteiro@gmail.com
	signingkey = 3EF052D0A8494FE9
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
