[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Antonio Nuno Monteiro
	email = anmonteiro@gmail.com
	signingkey = D3FF992B411EF867
[commit]
	gpgsign = true
[gpg]
	program = /Users/anmonteiro/.nix-profile/bin/gpg
[color "diff"]
	whitespace = bold red reverse
[diff]
	wserrorhighlight = all
